<h1>Spanish Squares</h1>


<%= form_tag do%>
  <%= label_tag(:spanish, "Spanish Word:") %>
  <%= text_field_tag(:spanish) %>

  <%= label_tag(:english, "English Word:") %>
  <%= text_field_tag(:english) %>

  <%= label_tag(:category, "Select a Category:") %>
  <%= collection_select(:categories, :index, Category.all, :id, :catName) %>

  <%= label_tag(:audio, "Upload Audio:") %>
  <%= text_field_tag(:audio) %>

  <%= label_tag(:image, "Import Image:") %>
  <%= text_field_tag(:image) %>




<button>Submit card</button>
<% end %>
